body {
    text-align: center;
    color: #683b10;
}

header {
    position: relative;
    width: 100%;
    min-height: 500px;
    text-align: center;
    background-image: url("/images/books2.png");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

img {
    width: 100px;
}

footer {
    background-color: #683b10;
    color: white;
    text-align: left;
    padding: 20px 40px;
}

section {
    margin-top: 50px;
}

th {
    text-align: center;
}

/*start classes*/

.heading {
    color: #683b10;
}

.table {
    margin-top: 50px;
}


.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}
