@{
    ViewData["Title"] = "Home Page";
}

<header></header>
<section class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="heading">Welcome to Breanna's Books. Click a book cover to see more info.</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">
        $(function() {
            $.ajax({
                url: '/home/books',
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                    data.entries.forEach(function (element) {
                        var link = "//openlibrary.org" + element.full_url;
                        var picture = element.picture.url;
                        var title = element.title;
                        var author = element.author;
                        
                        $('#table-body').append('<tr><td><a target="_new" href="' + link + '"><img src="' + picture + '"/></td><td>' + title + '</td><td>' + author + '</td></tr>');
                    });
                },
                error: function(request, status, error) {
                    console.log(error);
                }
            });
        });

    </script>
}