@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        $(function() {
            $.ajax({
                url: '/home/books',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var books = data['entries'];
                    for (var i = 0; i < books.length; i++) {
                        var title = books[i]['title'];
                        var picture = books[i]["picture"]["url"];
                        var author = books[i]["author"];
                        var link = "//openlibrary.org" + books[i]["full_url"];
                        $('#table-body').append('<tr><td><a target="_new" href="' + link + '"><img src="' + picture + '"/></td><td>' + title + '</td><td>' + author + '</td></tr>');
                    }
                    console.log(data);

                },
                error: function (request, status, error) {
                    console.log(error);
                }
            });
        });

    </script>
}